<section class="about-section" id="om-rebecka">
  <div class="about-section__inner">
    <div class="about-section__image">
      <img src="/rebeckahighres-780w.webp" alt="Rebecka" />
    </div>

    <div class="about-section__content">
      <h2>Hvad resonerer med dig?</h2>

      <p>
        Verden er så smukt et sted, men den kan også være travl og fuld af krav. Hvis vi ikke er gode til at prioritere os selv,
        sætte grænser og mærke, hvad vi inderst inde har brug for, kan det over tid skyde os ud af kurs - kropsligt, psykisk og energetisk. 
        Derfor er det min mission at skabe et rum, hvor du for en stund kan blive mindet om, hvem du er, og tage første skridt tilbage i dig selv.
      </p>
      <p>Velkommen til ❤️</p>

      <img src="/Rebecka - signature.png" alt="Rebecka" class="about-section__signature" />

      <a href="#section-overview" class="about-section__button"> SE HVAD JEG KAN HJÆLPE MED </a>
    </div>
  </div>
</section>
