<section class="about-section" id="om-rebecka">
  <div class="about-section__inner">
    <div class="about-section__image">
      <img src="/rebeckahighres.jpg" alt="Rebecka" />
    </div>

    <div class="about-section__content">
      <h2>Hvad resonerer med dig?</h2>

      <img src="/handdrawn-heart.png" alt="" class="about-section__heart" />
      <p>
        <!-- Verden er så smukt et sted, men den er også travl - og ofte dikteres det hvordan vi skal
        leve og føle. Vi kan komme til at påtage os ansvar, som ikke er vores, vi følger med
        strømmen og vi kan blive dårligere til at sige nej. Med tiden kan det skyde os ud af kurs -
        kropsligt, psykisk eller sjæleligt - og derfor er det min mission at skabe et rum, hvor du
        for en stund kan blive mindet om, hvem du er - og tage første skridt tilbage i dig selv. -->
        Verden er så smukt et sted, men den kan også være travl og fuld af krav. Hvis vi ikke er gode til at prioritere os selv,
        sætte grænser og mærke efter, hvad vi inderst inde har brug for, kan det over tid skyde os ud af kurs - kropsligt, psykisk og energetisk. 
        Derfor er det min mission at skabe et rum, hvor du for en stund kan blive mindet om, hvem du er, og tage første skridt tilbage i dig selv.
      </p>
      <p>Velkommen til ❤️</p>

      <img src="/Rebecka - signature.png" alt="Rebecka" class="about-section__signature" />

      <!-- <p class="about-section__eyebrow">HJERTELIGT VELKOMMEN</p> -->
      <a href="#section-overview" class="about-section__button"> SE HVAD JEG KAN HJÆLPE MED </a>
    </div>
  </div>
</section>
