<section class="om-mig-hero" id="om-mig">
  <div class="om-mig-hero__inner">
    <div class="om-mig-hero__introduction">
      <div class="om-mig-hero__content">
        <!-- <h1 class="om-mig-hero__title">Om mig</h1> -->
        <img class="om-mig-hero__greeting" src="/hej-tekst.png" alt="Hej, jeg hedder Rebecka" />

        <p class="om-mig-hero__text">
          "Smilende" og "ambitiøs" er nok de to mest brugte ord om mig. Med solen i stenbuk, måne i
          tyren og ascendant i løven er jeg en af dem, som elsker stabilitet og sjældent kan rykkes
          ud af det, som jeg sætter mig for. Men jeg brænder også for frihed, kreativitet og for at
          skabe noget, som føles autentisk - og jeg sætter en kæmpe ære i at inspirere andre til det
          samme.
        </p>
        <p class="om-mig-hero__text">
          Med hele 2 belastningsreaktioner i bagagen ved jeg, hvor vigtigt det er, at vi passer på
          os selv. For mig har det været en invitation til at se indad, forstå hvor jeg kommer fra
          og finde ud af, hvorfor det former de mønstre, som jeg har. En livslang helingsrejse
          begyndte, og hver dag bidrager den til en ny forståelse for min krop, mit nervesystem og
          ikke mindst min sjæl.
        </p>
        <p class="om-mig-hero__text">
          Jeg har altid haft en følelse af, at jeg er her, fordi jeg skal hjælpe med at gøre en
          forskel på et højere plan. Derfor er det min intention at sprede lys og kærlige
          refleksioner fra hjertet - og at give et blidt puf ind i at mærke sig selv.
        </p>
        <p class="om-mig-hero__text">Velkommen til Resonora, og tak fordi du er her ❤️</p>
      </div>

      <div class="om-mig-hero__image">
        <img src="/mig2.jpeg" alt="Rebecka" />
      </div>
    </div>
  </div>
</section>
