<header class="menubar" [class.scrolled]="isScrolled()" [class.open]="isOpen()">
	<div class="menubar__inner">
		<div class="menubar__group menubar__group--left">
			<a class="menubar__link" routerLink="/kropsterapi">Kropsterapi</a>
			<span class="menubar__sep" aria-hidden="true"></span>
			<a class="menubar__link" routerLink="/lyd">Lydrejser</a>
			<span class="menubar__sep" aria-hidden="true"></span>
			<a class="menubar__link" routerLink="/reiki">Reiki</a>
			<span class="menubar__sep" aria-hidden="true"></span>
			<a class="menubar__link" routerLink="/budskaber">Budskaber</a>
		</div>

		<a class="menubar__brand" routerLink="/" aria-label="Gå til forsiden">RESONORA</a>

		<div class="menubar__group menubar__group--right">
			<a class="menubar__link" routerLink="/rebecka">Lær mig at kende</a>
			<span class="menubar__sep" aria-hidden="true"></span>
			<a
				class="menubar__book-button"
				data-cal-link="resonora"
				data-cal-namespace="resonora"
				data-cal-config='{"layout":"month_view","useSlotsViewOnSmallScreen":"true", "theme":"light"}'
			>
				Book mig
			</a>
		</div>

		<button
			class="menubar__burger"
			type="button"
			(click)="toggle()"
			[attr.aria-label]="isOpen() ? 'Luk menu' : 'Åbn menu'"
			[attr.aria-expanded]="isOpen()"
			aria-controls="mobile-navigation"
		>
			<span aria-hidden="true"></span>
		</button>

		<nav
			class="menubar__mobile"
			id="mobile-navigation"
			aria-label="Hovednavigation"
			[class.open]="isOpen()"
			[attr.inert]="isOpen() ? null : ''"
		>
			<a class="menubar__mobile-link" routerLink="/kropsterapi" (click)="close()">Kropsterapi</a>
			<a class="menubar__mobile-link" routerLink="/lyd" (click)="close()">Lydrejser</a>
			<a class="menubar__mobile-link" routerLink="/reiki" (click)="close()">Reiki</a>
			<a class="menubar__mobile-link" routerLink="/budskaber" (click)="close()">Budskaber</a>
			<a class="menubar__mobile-link" routerLink="/rebecka" (click)="close()">Lær mig at kende</a>
			<a
				class="menubar__mobile-book-button"
				data-cal-link="resonora"
				data-cal-namespace="resonora"
				data-cal-config='{"layout":"month_view","useSlotsViewOnSmallScreen":"true", "theme":"light"}'
				(click)="close()"
			>
				Book mig
			</a>
		</nav>
	</div>
</header>
