<footer class="site-footer">
    <div class="site-footer__brand">
        <span class="site-footer__name">RESONORA</span>
        <span class="site-footer__tagline">Rum for indre resonans</span>
        <span class="site-footer__ornament" aria-hidden="true">
            <img src="/resonora-c99f62.png" alt="" />
        </span>
    </div>

    <div class="site-footer__socials" aria-label="Sociale medier">
        <a
            href="https://www.instagram.com/rebecka.resonora/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Resonora på Instagram"
        >
            <i class="fa-brands fa-instagram" aria-hidden="true"></i>
            <span>Instagram</span>
        </a>
        <a
            href="https://www.facebook.com/profile.php?id=61593253107545"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Resonora på Facebook"
        >
            <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
            <span>Facebook</span>
        </a>
    </div>

    <div class="site-footer__contact">
        <p>
            CVR. 45853683<br />
            Provstebakken 48C<br />
            5200 Odense V
        </p>
        <p>
            <a href="tel:+4593391193">+45 93 39 11 93</a><br />
            <a href="mailto:kontakt@resonora.dk">kontakt@resonora.dk</a>
        </p>
    </div>
</footer>