<footer class="site-footer">

    <div class="site-footer__newsletter">
        <img src="/mail-icon.png" alt="" class="site-footer__mail">

        <div>
            <h2>FÅ SMÅ DRYS TIL DIN INDBAKKE</h2>

            <p>
                En gang imellem sender jeg refleksioner, lydfiler
                og hygge-spirituelle tanker direkte til dig.
            </p>

            <a href="#">
                JA TAK, JEG ER MED
            </a>
        </div>
    </div>

    <div class="site-footer__divider">
        <img src="/footer-symbol.png" alt="">
    </div>

    <div class="site-footer__info">

        <h3>RESONORA</h3>

        <p>
            Ved Rebecka Thyssen<br>
            CVR. 45853683<br>
            Provstebakken 48C<br>
            5200 Odense V
        </p>

        <p>
            +45 93 39 11 93<br>
            kontakt@resonora.dk
        </p>

        <div class="site-footer__socials">
            <a href="#"><img src="/instagram.svg" alt=""></a>
            <a href="#"><img src="/facebook.svg" alt=""></a>
        </div>

    </div>

</footer>